<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="theme-color" content="#333d45">

        <title>{{ (page) ? page ~ " - " }}{{ title }} by {{ author }}</title>

        <link rel="icon" sizes="192x192" href="img/newiconflat192.png">
        <link href="{{ baseUrl }}/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500,700,300,100|Roboto+Condensed:400,300,700|Roboto+Slab:400,300,100' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ baseUrl }}/stylesheets/github-light.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ baseUrl }}/stylesheets/stylesheet.custom.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body class="{{ bodyClass }}">
        {% block content %}
            <section class="main-content main">
                <div class="inner">
                    {{ content|raw }}
                </div>
            </section>
        {% endblock %}
        <section class="main-content footer">
            <div class="inner">
                <footer class="site-footer no-padding">
                    <span class="site-footer-credits">Made with love by <a href="{{ authorLink }}">{{ author }}</a>.</span>
                </footer>
            </div>
        </section>
    </body>
</html>