<h2><a class="anchor" href="#whats-new" id="whats-new"><span class="octicon octicon-link"></span></a>What's New</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/49" title="Update desktop notifications">#49</a>: Added rich feed notifications.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/51" title="Update Modation to new Soundation look">#51</a>: Updated to work with new Soundation look.</li>
</ul>
<h2>What's Changed</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/33" title="Reorganize JS into common structure">#33</a>, <a class="issue-link" href="{{ projectUrl }}/issues/43" title="Fully integrate APIs">#43</a>: Restructured scripts.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/6" title="Recent tracks feed">#6</a>, <a class="issue-link" href="{{ projectUrl }}/issues/15" title="Group Mods improvements">#15</a>, <a class="issue-link" href="{{ projectUrl }}/issues/45" title="Player modifications">#45</a>: Cancelled development on features already built into the new Community structure.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/52" title="Pull support for multiple accounts">#52</a>: Pulled support for multiple accounts.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/35" title="Update project page">#35</a>, <a class="issue-link" href="{{ projectUrl }}/issues/56" title="Use Couscous for project page">#56</a>: New project page! <a href="http://cyberbit.github.io/modation">http://cyberbit.github.io/modation</a></li>
</ul>
<h2>What's Fixed</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/63" title="Multiple messages create multiple notifications">#63</a>, <a class="issue-link" href="{{ projectUrl }}/issues/64" title="Notifications dismissed on website not cleared on desktop">#64</a>, <a class="issue-link" href="{{ projectUrl }}/issues/65" title="Notification IDs including leading slash">#65</a>: Fixed various notification bugs.</li>
</ul>