<h2><a class="anchor" href="#whats-new" id="whats-new"><span class="octicon octicon-link"></span></a>What's New</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/44" title="User tagging in comments">#44</a><span>:</span> Added user tagging in comments (via @).</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/59" title="Groups list filtering">#59</a><span>:</span> Added quick filter to group lists.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/67" title="Show comments box above thread">#67</a><span>:</span> Moved comments box above thread on tracks and groups.</li>
</ul>
<h2><a class="anchor" href="#whats-fixed" id="whats-fixed"><span class="octicon octicon-link"></span></a>What's Fixed</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/69" title="Group filter appears on track's group list">#69</a><span>:</span> Fixed group filter appearing on track group lists.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/70" title="Duplicate comments box on groups">#70</a><span>:</span> Fixed duplicate comment boxes on groups.</li>
</ul>